body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: darkslategray;
}

.gz {
	width: 100vw;
	height: 100vh;
	background-color: darkolivegreen;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}